<div >
       <table>
        <tr>
          <td><input ng-model='balls.redBall1' size= 4></td>
          <td><input ng-model='balls.redBall2' size= 4></td>
          <td><input ng-model='balls.redBall3' size= 4></td>
          <td><input ng-model='balls.redBall4' size= 4></td>
          <td><input ng-model='balls.redBall5' size= 4></td>
          <td><input ng-model='balls.redBall6' size= 4></td>
          <td><input ng-model='balls.redBall7' size= 4></td>
          <td><button ng-click='start()'>开始</button></td>
        </tr>
    </table>
</div>
