<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>首页</title>
  <%- include('inc/bootstrap.html') %>
  <style>
.article-item {
  margin-bottom: 50px;
}
  </style>
</head>
<body>

<%- include('inc/menu.html') %>

<div class="container-fluid">
  <% locals.article_list.forEach(function (article) { %>
  <div class="article-item">
    <h3><%= article.title %></h3>
    <p>作者：<%= article.author %></p>
    <hr />
    <p><%- article.summary %></p>
    <p><a class="btn btn-primary" href="/article/<%= article.id %>"><%= __('Read') %></a></p>
  </div>
  <% }); %>
    
  <nav>
    <ul class="pager">
      <li <% if (skip - limit < 0) { %>class="disabled"<% } %>><a href="/?skip=<%= skip - limit %>&limit=<%= limit %>">Previous</a></li>
      <li <% if (skip + limit > article_count) { %>class="disabled"<% } %>><a href="/?skip=<%= skip + limit %>&limit=<%= limit %>">Next</a></li>
    </ul>
  </nav>
</div>

</body>
</html>
