<!doctype html>
<html ng-app>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <div>
            <input ng-model="test1"/>
            <input ng-model="test2"/>
            <input ng-model="test3"/>
            <input ng-model="test4"/>
            <input ng-model="test5"/>
            <input ng-model="test6"/>
            <input ng-model="test7"/>
            <p>Text1:{{test1}}</p>
            <p>Text2:{{test2}}</p>
            <p>Text3:{{test3}}</p>
            <p>Text4:{{test4}}</p>
            <p>Text5:{{test5}}</p>
            <p>Text6:{{test6}}</p>
            <p>Text7:{{test7}}</p>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</html>