<style>
img {
  max-width: 200px;
  border: 1px solid #aaa;
}
.item {
  width: 200px;
  margin: 10px;
  float: left;
}
</style>
<div class="item">
  相同域名：<br>
  <img src="/img/pic.jpg">
</div>
<div class="item">
  域名：a.local.ucdok.com<br>
  <img src="http://a.local.ucdok.com:3001/img/pic.jpg">
</div>
<div class="item">
  不同域名：b.local.ucdok.com<br>
  <img src="http://b.local.ucdok.com:3001/img/pic.jpg">
</div>
