<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    Search:
                    <input ng-model="query">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    Sort by:
                    <select ng-model="orderProp">
                        <option value="name">Alphabetical</option>
                        <option value="age">Newest</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <ul class="phones">
                <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail phone-listing">
                    <a href="#/phones/{{phone.id}}" class="thumb">
                        <img ng-src="{{phone.imageUrl}}">
                    </a>
                    <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
                    <p>{{phone.snippet}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
